
    <div id="main">
        <div class="container">
                <div class="clearfix apytanka-body">
                    <div class="col-xs-3 col-sm-1 logo-block">
                        <a>
                            <img src="../css/images/563469251.png" class="img-responsive">
                                <cite class="text-muted author small">
                                Julia Usanova
                                </cite>
                        </a>
                    </div>
                    <div class="col-xs-7 col-sm-10 descr-block">
                        <h4><a>Title may be too long, even longer than the pape size, but it doesn't matter
                            <br><small>Belarus, Minsk, 22.11.2014 </small></a></h4>

                        <div>
                            <p>
                                Title may be too long, even longer than the pape size, but it doesn't matterTitle may be too long, even longer than the pape size, but it doesn't matter.Title
                                may be too long, even longer than the pape size, but it doesn't matterTitle may be too long, even longer than the pape size, but it doesn't matter
                            </p>
                            <p>
                                Title may be too long, even longer than the pape size, but it doesn't matterTitle may be too long, even longer than the pape size, but it doesn't matter.Title
                                may be too long, even longer than the pape size, but it doesn't matterTitle may be too long, even longer than the pape size, but it doesn't matter
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-1 results lead text-center">
                        <div class="col-xs-6">
                            <h3>
                                <a class="glyphicon glyphicon-heart"></a>
                            </h3>
                            <hr>
                                    20
                        </div>
                        <div class="col-xs-6">
                            <h3>
                                <a class="glyphicon glyphicon-minus"></a>
                            </h3>
                            <hr>
                                0
                        </div>
                    </div>
                </div>
            <div class="clearfix apytanka-body">
                <div class="col-xs-3 col-sm-1 logo-block">
                    <a>
                        <img src="../css/images/563469251.png" class="img-responsive">
                        <cite class="text-muted author small">
                            Julia Usanova
                        </cite>
                    </a>
                </div>
                <div class="col-xs-7 col-sm-10 descr-block">
                    <h4><a>Title may be too long, even longer than the pape size, but it doesn't matter
                        <br><small>Belarus, Minsk, 22.11.2014 </small></a></h4>

                    <div>
                        <p>
                            Title may be too long, even longer than the pape size, but it doesn't matterTitle may be too long, even longer than the pape size, but it doesn't matter.Title
                            may be too long, even longer than the pape size, but it doesn't matterTitle may be too long, even longer than the pape size, but it doesn't matter
                        </p>
                        <p>
                            Title may be too long, even longer than the pape size, but it doesn't matterTitle may be too long, even longer than the pape size, but it doesn't matter.Title
                            may be too long, even longer than the pape size, but it doesn't matterTitle may be too long, even longer than the pape size, but it doesn't matter
                        </p>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-1 results lead text-center">
                    <div class="col-xs-6">
                        <h3>
                            <a class="glyphicon glyphicon-heart"></a>
                        </h3>
                        <hr>
                        20
                    </div>
                    <div class="col-xs-6">
                        <h3>
                            <a class="glyphicon glyphicon-minus"></a>
                        </h3>
                        <hr>
                        0
                    </div>
                </div>
            </div>
            <div class="clearfix apytanka-body">
                <div class="col-xs-3 col-sm-1 logo-block">
                    <a>
                        <img src="../css/images/563469251.png" class="img-responsive">
                        <cite class="text-muted author small">
                            Julia Usanova
                        </cite>
                    </a>
                </div>
                <div class="col-xs-7 col-sm-10 descr-block">
                    <h4><a>Title may be too long, even longer than the pape size, but it doesn't matter
                        <br><small>Belarus, Minsk, 22.11.2014 </small></a></h4>

                    <div>
                        <p>
                            Title may be too long, even longer than the pape size, but it doesn't matterTitle may be too long, even longer than the pape size, but it doesn't matter.Title
                            may be too long, even longer than the pape size, but it doesn't matterTitle may be too long, even longer than the pape size, but it doesn't matter
                        </p>
                        <p>
                            Title may be too long, even longer than the pape size, but it doesn't matterTitle may be too long, even longer than the pape size, but it doesn't matter.Title
                            may be too long, even longer than the pape size, but it doesn't matterTitle may be too long, even longer than the pape size, but it doesn't matter
                        </p>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-1 results lead text-center">
                    <div class="col-xs-6">
                        <h3>
                            <a class="glyphicon glyphicon-heart"></a>
                        </h3>
                        <hr>
                        20
                    </div>
                    <div class="col-xs-6">
                        <h3>
                            <a class="glyphicon glyphicon-minus"></a>
                        </h3>
                        <hr>
                        0
                    </div>
                </div>
            </div>
        </div>
    </div>
