<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../js/common/common.js"></script>
    <script src="../js/common/directives.js"></script>
    <script src="../js/user/user.js"></script>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" media="screen, projection" rel="stylesheet">
    <link href="../css/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
</head>
<body>
<div>

    <div class="modal fade bs-example-modal-lg c-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="form-container">
            <p class="clearfix">
                <a class="close pull-right"></a>
            </p>
            <form class="login-form">
                <header class="text-center">
                    <h3 class="space-block-t space-block-b">
                        Прыемна бачыць вас зноў!
                        </br>
                        <small>Посьпехаў!</small>
                    </h3>
                </header>

                <div class="form-group c-input">
                    <label class="sr-only"></label>
                    <input class="form-control" placeholder="Email">
                </div>
                <div class="form-group c-input">
                    <label class="sr-only"></label>
                    <input class="form-control" placeholder="Пароль">
                </div>
                <div class="form-group">
                    <p class="facebook">
                        <a>
                            <small>
                                <img src="../css/images/modal-fb-icon-blue.png">
                                <b> Увайсці праз Facebook</b>
                            </small>
                        </a>
                    </p>
                    <hr>
                </div>
                <div class="form-group clearfix">
                    <div class="col-xs-8">
                        <p><small><b class="text-muted">Няма акаўнту? </b> <a>Рэгістрацыя</a></small></p>
                    </div>
                    <p class="col-xs-4">
                        <button class="btn big-btn btn-orange pull-right">Уваход</button>
                    </p>

                </div>
            </form>
            <form class="help-block text-center">
                <a><p class="container-fluid">Забылі пароль?</p></a>
            </form>
        </div>
    </div>


    <!--<div class="modal fade bs-example-modal-lg c-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">-->
        <!--<div class="form-container">-->
            <!--<p class="clearfix">-->
                <!--<a class="close pull-right"></a>-->
            <!--</p>-->
            <!--<form class="login-form">-->
                <!--<header class="text-center">-->
                    <!--<h3 class="space-block-t space-block-b">-->
                        <!--Стварыць акаўнт-->
                        <!--</br>-->
                        <!--<small>Зойме менш за хвіліну</small>-->
                    <!--</h3>-->
                <!--</header>-->
                <!--<div class="clearfix form-inline c-inline">-->
                    <!--<div class="form-group c-input col-xs-6 grid">-->
                        <!--<label class="sr-only"></label>-->
                        <!--<input class="form-control" placeholder="Імя">-->
                    <!--</div>-->
                    <!--<div class="form-group c-input col-xs-6 grid">-->
                        <!--<label class="sr-only"></label>-->
                        <!--<input class="form-control" placeholder="Прозвішча">-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group c-input">-->
                    <!--<label class="sr-only"></label>-->
                    <!--<input class="form-control" placeholder="Email">-->
                <!--</div>-->
                <!--<div class="form-group c-input">-->
                    <!--<label class="sr-only"></label>-->
                    <!--<input class="form-control" placeholder="Пароль">-->
                <!--</div>-->
                <!--<div class="form-group clearfix space-block-t">-->
                    <!--<div class="col-xs-8">-->
                        <!--<p><small><b class="text-muted">Няма акаўнту? </b> <a>Рэгістрацыя</a></small></p>-->
                    <!--</div>-->
                    <!--<p class="col-xs-4">-->
                        <!--<button class="btn big-btn btn-orange pull-right">Уваход</button>-->
                    <!--</p>-->

                <!--</div>-->
            <!--</form>-->
            <!--<form class="help-block text-center">-->
                <!--<a><p class="container-fluid">Забылі пароль?</p></a>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->



</div>
</body>
</html>