
<div class="container" ng-controller="resultsCtrl">

    <h1>Number of votes: {{resultsCount()}}</h1>

    <p ng-repeat="result in results" class="option-{{$index+1}}">
        <input type="text" ng-model="result.option"><input type="text" ng-pattern="/\d+/" ng-model="result.votes"><span>{{result.percent()}}%</span>
    </p>

    <p>
        <label ng-show="results.length == {{maxResultsLength}}">Maximum options number is {{maxResultsLength}}</label>
        <button ng-click="addNewResult()" ng-disabled="results.length == {{maxResultsLength}}">+Add new</button>
    </p>
    <div class="tab">
        <figure class="pieContainer">
            <div class="pieBackground"></div>
            <pie class="pie-container" ng-repeat="pie in results"></pie>
        </figure>
    </div>
    <div class="tab">
        <figure class="graphContainer">
            <div graph class="graph"></div>
        </figure>
    </div>
</div>
