/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/_graphics.scss */
.option-1 {
  background: #ffdc1c;
}

/* line 4, ../sass/_graphics.scss */
.option-2 {
  background: #ffa216;
}

/* line 7, ../sass/_graphics.scss */
.option-3 {
  background: #ff4b11;
}

/* line 10, ../sass/_graphics.scss */
.option-4 {
  background: #BC4398;
}

/* line 13, ../sass/_graphics.scss */
.option-5 {
  background: #7d24ff;
}

/* line 16, ../sass/_graphics.scss */
.option-6 {
  background: #1e63ff;
}

/* line 19, ../sass/_graphics.scss */
.option-7 {
  background: #2bceff;
}

/* line 22, ../sass/_graphics.scss */
.option-8 {
  background: #1cff9a;
}

/* line 25, ../sass/_graphics.scss */
.option-9 {
  background: #d4c0ff;
}

/* line 28, ../sass/_graphics.scss */
.option-10 {
  background: #E57FA7;
}

/* line 32, ../sass/_graphics.scss */
.pieContainer {
  height: 300px;
  margin-bottom: 35px;
}

/* line 37, ../sass/_graphics.scss */
.pieBackground {
  background-color: grey;
  position: absolute;
  width: 300px;
  height: 300px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
  -moz-box-shadow: -1px 1px 3px #000;
  -webkit-box-shadow: -1px 1px 3px #000;
  -o-box-shadow: -1px 1px 3px #000;
  box-shadow: -1px 1px 3px #000;
}

/* line 52, ../sass/_graphics.scss */
.hold {
  position: absolute;
  width: 300px;
  height: 300px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
  clip: rect(0px, 300px, 300px, 150px);
  -webkit-transition: transform 0.2s linear;
  -moz-transition: transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
}
/* line 69, ../sass/_graphics.scss */
.hold .pie {
  position: absolute;
  width: 300px;
  height: 300px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
  clip: rect(0px, 150px, 300px, 0px);
}

/* line 82, ../sass/_graphics.scss */
.ng-dirty.ng-invalid, .ng-touched.ng-invalid {
  border: 1px solid red;
}
/* line 85, ../sass/_graphics.scss */
.ng-dirty.ng-invalid:focus, .ng-touched.ng-invalid:focus {
  box-shadow: 0px 0px 3px -1px rgba(255, 0, 0, 0.8);
  outline-color: rgba(250, 37, 37, 0);
}

/* line 90, ../sass/_graphics.scss */
.graph table {
  width: 500px;
}

/* line 1, ../sass/_profile-page.scss */
.profile {
  background-color: #f9f9f9 !important;
  border: 1px solid #d6d6d6;
}
/* line 5, ../sass/_profile-page.scss */
.profile > div {
  padding: 10px;
}
/* line 6, ../sass/_profile-page.scss */
.profile aside {
  margin: 2% 0;
}
/* line 9, ../sass/_profile-page.scss */
.profile aside li {
  padding: 14px 15px;
  margin: -1px;
  font-weight: bolder;
}
/* line 14, ../sass/_profile-page.scss */
.profile aside li:hover {
  background: #7b929d;
}
/* line 16, ../sass/_profile-page.scss */
.profile aside li:hover a {
  color: white;
  text-decoration: none;
}
/* line 24, ../sass/_profile-page.scss */
.profile section {
  padding: 10px 0;
}
/* line 28, ../sass/_profile-page.scss */
.profile table {
  background-color: #ffffff;
}

/* line 12, ../sass/_login-form.scss */
.c-modal .modal-backdrop, .c-modal .login-background.in {
  background-color: #545151;
}

/* line 22, ../sass/_login-form.scss */
.form-container {
  width: 25%;
  min-width: 420px;
  margin: auto;
  margin-top: 100px;
  position: relative;
  z-index: 1100;
}
/* line 30, ../sass/_login-form.scss */
.form-container .close {
  color: white;
  background-image: url("https://livelovely.com/static/images/modals/modal-close.svg");
  opacity: 0.9;
  height: 29px;
  width: 29px;
}
/* line 36, ../sass/_login-form.scss */
.form-container .close:hover {
  opacity: 1;
}
/* line 41, ../sass/_login-form.scss */
.form-container form {
  border-radius: 4px;
}
/* line 43, ../sass/_login-form.scss */
.form-container form:first-of-type {
  background: white;
}
/* line 46, ../sass/_login-form.scss */
.form-container form.help-block {
  background-color: rgba(224, 224, 224, 0.15);
  line-height: 45px;
}
/* line 49, ../sass/_login-form.scss */
.form-container form.help-block:hover {
  background-color: rgba(224, 224, 224, 0.17);
}
/* line 52, ../sass/_login-form.scss */
.form-container form.help-block a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}
/* line 60, ../sass/_login-form.scss */
.form-container header {
  padding: 10px;
}
/* line 62, ../sass/_login-form.scss */
.form-container header small {
  opacity: 0.9;
}

/* line 69, ../sass/_login-form.scss */
p.facebook {
  padding: 13px 13px 0px;
  margin-bottom: -3px;
}
/* line 73, ../sass/_login-form.scss */
p.facebook b {
  vertical-align: bottom;
  margin-left: 2px;
}

/* line 1, ../sass/_apytanka.scss */
.apytanka-body {
  border: 1px solid #E0E0E0;
  border-right: 0;
  border-left: 0;
  margin: 1px;
  background: rgba(255, 255, 255, 0.4);
  height: 110px;
  overflow: hidden;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 10, ../sass/_apytanka.scss */
.apytanka-body:hover {
  background: #e2eef4;
}
/* line 15, ../sass/_apytanka.scss */
.apytanka-body div {
  height: 100%;
}
/* line 19, ../sass/_apytanka.scss */
.apytanka-body .logo-block {
  padding: 3px;
  border-right: 1px solid #E0E0E0;
}
/* line 22, ../sass/_apytanka.scss */
.apytanka-body .logo-block a {
  text-decoration: none;
  border-bottom: 1px dashed;
}
/* line 28, ../sass/_apytanka.scss */
.apytanka-body .descr-block {
  height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* line 34, ../sass/_apytanka.scss */
.apytanka-body .results {
  display: table;
  height: 100%;
  padding: 0;
}
/* line 39, ../sass/_apytanka.scss */
.apytanka-body .results > div:first-of-type {
  border-right: 1px solid #E0E0E0;
}
/* line 43, ../sass/_apytanka.scss */
.apytanka-body .results div {
  padding: 0;
}
/* line 47, ../sass/_apytanka.scss */
.apytanka-body .results hr {
  margin-top: 12px;
  margin-bottom: 10px;
}
/* line 52, ../sass/_apytanka.scss */
.apytanka-body .results a {
  text-decoration: none;
  border-bottom: 0;
}
/* line 55, ../sass/_apytanka.scss */
.apytanka-body .results a:hover {
  color: #FA6F4F;
}
/* line 62, ../sass/_apytanka.scss */
.apytanka-body + .apytanka-body {
  margin-top: 15px;
}

/* line 1, ../sass/_apytanka-list.scss */
#main .apytanka-page {
  position: relative;
}
/* line 4, ../sass/_apytanka-list.scss */
#main .apytanka-page:before {
  height: 550px;
  background-color: rgba(138, 155, 163, 0.6);
  z-index: -1;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 16, ../sass/_apytanka-list.scss */
#main .apytanka-page:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/mapamundi.jpg");
  width: 100%;
  opacity: 0.8;
  z-index: -2;
  height: 550px;
}
/* line 29, ../sass/_apytanka-list.scss */
#main .apytanka-page section:first-of-type {
  height: 550px;
}

/* line 34, ../sass/screen.scss */
.big-btn, #header .top-nav [data-toggle="dropdown"], .winner-block .btn {
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px 20px;
}

/* line 40, ../sass/screen.scss */
.btn-orange, #header .top-nav [data-toggle="dropdown"] {
  background-color: #fb8368;
  background-image: -webkit-linear-gradient(top, #fb8368 20%, #FA6F4F 100%);
  background-image: -o-linear-gradient(top, #fb8368 20%, #FA6F4F 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fb8368), to(#FA6F4F));
  background-image: linear-gradient(to bottom, #fb8368 20%, #fa6f4f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=''+($color1), endColorstr=''+($color2), GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #fa6340;
  color: #fefcf9;
}
/* line 44, ../sass/screen.scss */
.btn-orange:hover, #header .top-nav [data-toggle="dropdown"]:hover {
  color: #fefcf9;
}

/* line 49, ../sass/screen.scss */
body {
  background: rgba(250, 162, 125, 0.05);
  font-family: sans-serif;
  font-weight: lighter;
  letter-spacing: 0.5px;
}

/* line 56, ../sass/screen.scss */
a {
  color: #4f95bb;
  cursor: pointer;
}
/* line 58, ../sass/screen.scss */
a:hover, .facebook a {
  color: #3664a2;
}

/* line 64, ../sass/screen.scss */
p {
  min-height: 20px;
}

/* line 68, ../sass/screen.scss */
hr {
  border-color: #E0E0E0;
}

/* line 72, ../sass/screen.scss */
label, .c-label {
  color: #b2b2b2;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 0;
}
/* line 80, ../sass/screen.scss */
td label, td .c-label {
  padding: 5px 10px;
}

/* line 85, ../sass/screen.scss */
#header {
  padding: 2% 0;
  font-size: 15px;
}
/* line 89, ../sass/screen.scss */
#header #logo .logo {
  font-size: 30px;
  font-family: fantasy;
  color: #FA6F4F;
}
/* line 95, ../sass/screen.scss */
#header .sublogo {
  padding: 0;
}
/* line 97, ../sass/screen.scss */
#header .sublogo small {
  color: #FA6F4F;
  opacity: 0.9;
  font-size: 20px;
  font-family: monospace;
  vertical-align: -10px;
}
/* line 106, ../sass/screen.scss */
#header .top-nav {
  line-height: 45px;
  margin-bottom: 20px;
}
/* line 110, ../sass/screen.scss */
#header .top-nav [data-toggle="dropdown"] {
  border-color: #fa6340;
  color: #fefcf9;
}
/* line 121, ../sass/screen.scss */
#header .top-nav .dropdown-menu {
  min-width: 100%;
}
/* line 123, ../sass/screen.scss */
#header .top-nav .dropdown-menu a {
  color: #545151;
}
/* line 126, ../sass/screen.scss */
#header .top-nav .dropdown-menu .glyphicon {
  margin-left: -5px;
  margin-right: 5px;
}

/* line 136, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  color: #5E5C5C;
}
/* line 138, ../sass/screen.scss */
#header h1, h1.orange, #header h2, h2.orange, #header h3, h3.orange, #header h4, h4.orange, #header h5, h5.orange, #header h6, h6.orange {
  color: #FA6F4F;
}
/* line 141, ../sass/screen.scss */
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: white;
}

/* line 146, ../sass/screen.scss */
b.dot {
  color: inherit;
  vertical-align: 3px;
}

/* line 151, ../sass/screen.scss */
.form-group.c-input {
  margin-bottom: 0px;
  border: 1px solid #E0E0E0;
  padding: 0;
}
/* line 156, ../sass/screen.scss */
.form-group.c-input .form-control {
  border: 0;
  border-color: #E0E0E0;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 50px;
  width: 100%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-appearance: none;
}
/* line 163, ../sass/screen.scss */
.form-group.c-input .form-control:focus {
  background-color: #e2eef4;
}
/* line 171, ../sass/screen.scss */
.form-group.c-input .radio {
  margin: 10px;
}

/* line 176, ../sass/screen.scss */
.form-inline.c-inline {
  margin-left: -1px;
}
/* line 178, ../sass/screen.scss */
.form-inline.c-inline .form-group.c-input:nth-of-type(n+2) {
  margin-left: -1px;
}
/* line 181, ../sass/screen.scss */
.form-inline.c-inline .form-group.c-input:first-of-type {
  margin-left: 1px;
}
/* line 184, ../sass/screen.scss */
+ .form-inline.c-inline {
  margin-top: -1px;
}

/* line 189, ../sass/screen.scss */
.form-group.c-input, .form-inline + .form-inline .form-group.c-input {
  margin-top: -1px;
}

/* line 194, ../sass/screen.scss */
.container-fluid {
  padding: 0;
}

/* line 198, ../sass/screen.scss */
.btn, .btn:hover, .btn:focus, .btn:active {
  outline-color: transparent;
}

/* line 202, ../sass/screen.scss */
.btn-lg {
  font-size: 17px;
}

/* line 206, ../sass/screen.scss */
.login {
  text-shadow: -0.5px -0.5px #322E2E;
  letter-spacing: 2px;
  font-family: sans-serif;
}
/* line 210, ../sass/screen.scss */
.login:hover {
  text-decoration: none;
}

/* line 218, ../sass/screen.scss */
.winner-block .btn {
  background-color: rgba(254, 254, 254, 0.9145);
  background-image: -webkit-linear-gradient(top, rgba(254, 254, 254, 0.9145) 20%, rgba(255, 255, 255, 0.05) 100%);
  background-image: -o-linear-gradient(top, rgba(254, 254, 254, 0.9145) 20%, rgba(255, 255, 255, 0.05) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 254, 254, 0.9145)), to(rgba(255, 255, 255, 0.05)));
  background-image: linear-gradient(to bottom, rgba(254, 254, 254, 0.9145) 20%, rgba(255, 255, 255, 0.05) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=''+($color1), endColorstr=''+($color2), GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  color: #545151;
}
/* line 224, ../sass/screen.scss */
.winner-block .btn .glyphicon-star {
  color: #f2cb60;
}
/* line 227, ../sass/screen.scss */
.winner-block .btn .glyphicon-gift {
  color: #e76262;
}
/* line 231, ../sass/screen.scss */
.winner-block .btn:hover {
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, transparent 20%, transparent 100%);
  background-image: -o-linear-gradient(top, transparent 20%, transparent 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=''+($color1), endColorstr=''+($color2), GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
}

/* line 242, ../sass/screen.scss */
#main .homepage section:nth-of-type(n+1), #main .apytanka-page section:nth-of-type(n+1) {
  padding: 50px 70px;
}
/* line 245, ../sass/screen.scss */
#main .homepage section:first-of-type, #main .apytanka-page section:first-of-type {
  min-height: 550px;
}
/* line 249, ../sass/screen.scss */
#main .homepage section:first-of-type blockquote, #main .apytanka-page section:first-of-type blockquote {
  padding: 8% 5%;
  font-size: 40px;
  border: 0;
}
/* line 254, ../sass/screen.scss */
#main .homepage section:first-of-type blockquote span, #main .apytanka-page section:first-of-type blockquote span {
  color: #DFE3E4;
  background-color: rgba(1, 1, 1, 0.7);
  padding: 0px 30px;
}
/* line 257, ../sass/screen.scss */
#main .homepage section:first-of-type blockquote span:nth-of-type(even), #main .apytanka-page section:first-of-type blockquote span:nth-of-type(even) {
  color: #8A9BA3;
}
/* line 265, ../sass/screen.scss */
#main .homepage section:nth-of-type(2), #main .apytanka-page section:nth-of-type(2) {
  background-color: #FFFFFF;
}
/* line 267, ../sass/screen.scss */
#main .homepage section:nth-of-type(2) .btn, #main .apytanka-page section:nth-of-type(2) .btn {
  border-color: #FA6F4F;
}
/* line 269, ../sass/screen.scss */
#main .homepage section:nth-of-type(2) .btn:hover, #main .apytanka-page section:nth-of-type(2) .btn:hover {
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, transparent 20%, transparent 100%);
  background-image: -o-linear-gradient(top, transparent 20%, transparent 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=''+($color1), endColorstr=''+($color2), GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
}
/* line 274, ../sass/screen.scss */
#main .homepage section:nth-of-type(3), #main .apytanka-page section:nth-of-type(3) {
  background-color: #F3F3F3;
}
/* line 276, ../sass/screen.scss */
#main .homepage section:nth-of-type(3) h2, #main .apytanka-page section:nth-of-type(3) h2 {
  color: #46C595;
}
/* line 279, ../sass/screen.scss */
#main .homepage section:nth-of-type(3) .btn, #main .apytanka-page section:nth-of-type(3) .btn {
  border-color: #46C595;
}
/* line 281, ../sass/screen.scss */
#main .homepage section:nth-of-type(3) .btn:hover, #main .apytanka-page section:nth-of-type(3) .btn:hover {
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, transparent 20%, transparent 100%);
  background-image: -o-linear-gradient(top, transparent 20%, transparent 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=''+($color1), endColorstr=''+($color2), GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
}
/* line 286, ../sass/screen.scss */
#main .homepage section:last-of-type, #main .apytanka-page section:last-of-type {
  background-color: #E1E3E5;
}
/* line 288, ../sass/screen.scss */
#main .homepage section:last-of-type h2, #main .apytanka-page section:last-of-type h2 {
  color: #2E416C;
}
/* line 291, ../sass/screen.scss */
#main .homepage section:last-of-type .btn, #main .apytanka-page section:last-of-type .btn {
  border-color: #2E416C;
}
/* line 293, ../sass/screen.scss */
#main .homepage section:last-of-type .btn:hover, #main .apytanka-page section:last-of-type .btn:hover {
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, transparent 20%, transparent 100%);
  background-image: -o-linear-gradient(top, transparent 20%, transparent 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=''+($color1), endColorstr=''+($color2), GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
}
/* line 300, ../sass/screen.scss */
#main .homepage {
  background: url("../images/questions-wallpaper-2560x1600.jpg") no-repeat;
}
/* line 304, ../sass/screen.scss */
#main .container {
  padding: 0px;
  border-radius: 6px;
  background-color: rgba(254, 254, 254, 0.5);
  box-shadow: 0px 2px 1px 1px rgba(1, 1, 1, 0.25);
  overflow: hidden;
  min-height: 500px;
}

/* line 317, ../sass/screen.scss */
footer {
  background-color: #FA6F4F;
  position: relative;
  top: -50px;
  z-index: -1;
  margin-bottom: -50px;
  color: white;
}
/* line 324, ../sass/screen.scss */
footer h2 {
  margin: 16% 0 10% 0;
  font-family: sans-serif;
}

/* line 330, ../sass/screen.scss */
.space-block-t {
  margin-top: 40px;
}

/* line 333, ../sass/screen.scss */
.space-block-b {
  margin-bottom: 40px;
}

/* line 336, ../sass/screen.scss */
.space-block-b, .space-block-t {
  min-height: 1px;
  display: block;
}
