/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/_graphics.scss */
.option-1 {
  background: #ffdc1c;
}

/* line 4, ../sass/_graphics.scss */
.option-2 {
  background: #ffa216;
}

/* line 7, ../sass/_graphics.scss */
.option-3 {
  background: #ff4b11;
}

/* line 10, ../sass/_graphics.scss */
.option-4 {
  background: #BC4398;
}

/* line 13, ../sass/_graphics.scss */
.option-5 {
  background: #7d24ff;
}

/* line 16, ../sass/_graphics.scss */
.option-6 {
  background: #1e63ff;
}

/* line 19, ../sass/_graphics.scss */
.option-7 {
  background: #2bceff;
}

/* line 22, ../sass/_graphics.scss */
.option-8 {
  background: #1cff9a;
}

/* line 25, ../sass/_graphics.scss */
.option-9 {
  background: #d4c0ff;
}

/* line 28, ../sass/_graphics.scss */
.option-10 {
  background: #E57FA7;
}

/* line 32, ../sass/_graphics.scss */
.pieContainer {
  height: 300px;
  margin-bottom: 35px;
}

/* line 37, ../sass/_graphics.scss */
.pieBackground {
  background-color: grey;
  position: absolute;
  width: 300px;
  height: 300px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
  -moz-box-shadow: -1px 1px 3px #000;
  -webkit-box-shadow: -1px 1px 3px #000;
  -o-box-shadow: -1px 1px 3px #000;
  box-shadow: -1px 1px 3px #000;
}

/* line 52, ../sass/_graphics.scss */
.hold {
  position: absolute;
  width: 300px;
  height: 300px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
  clip: rect(0px, 300px, 300px, 150px);
  -webkit-transition: transform 0.2s linear;
  -moz-transition: transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
}
/* line 69, ../sass/_graphics.scss */
.hold .pie {
  position: absolute;
  width: 300px;
  height: 300px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
  clip: rect(0px, 150px, 300px, 0px);
}

/* line 82, ../sass/_graphics.scss */
.graph table {
  width: 500px;
}

/* line 1, ../sass/_profile-edit.scss */
.profile {
  background-color: #f9f9f9 !important;
  border: 1px solid #d6d6d6;
}
/* line 5, ../sass/_profile-edit.scss */
.profile > div {
  padding: 10px;
}
/* line 6, ../sass/_profile-edit.scss */
.profile aside {
  margin: 2% 0;
}
/* line 9, ../sass/_profile-edit.scss */
.profile aside li {
  padding: 14px 15px;
  margin: -1px;
  font-weight: bolder;
}
/* line 13, ../sass/_profile-edit.scss */
.profile aside li:hover, .profile aside li.on {
  background: #7b929d;
}
/* line 15, ../sass/_profile-edit.scss */
.profile aside li:hover a, .profile aside li.on a {
  color: white;
  text-decoration: none;
}
/* line 23, ../sass/_profile-edit.scss */
.profile section {
  padding: 10px 0;
}
/* line 27, ../sass/_profile-edit.scss */
.profile table {
  background-color: #ffffff;
}

/* line 2, ../sass/_login-form.scss */
.c-modal .modal-backdrop.in {
  background-color: #545151;
  opacity: .8;
}

/* line 7, ../sass/_login-form.scss */
.form-container {
  width: 25%;
  min-width: 420px;
  margin: auto;
  margin-top: 100px;
  position: relative;
  z-index: 1100;
}
/* line 15, ../sass/_login-form.scss */
.form-container .close {
  color: white;
  background-image: url("https://livelovely.com/static/images/modals/modal-close.svg");
  opacity: 0.9;
  height: 29px;
  width: 29px;
}
/* line 21, ../sass/_login-form.scss */
.form-container .close:hover {
  opacity: 1;
}
/* line 26, ../sass/_login-form.scss */
.form-container form {
  border-radius: 4px;
}
/* line 28, ../sass/_login-form.scss */
.form-container form:first-of-type {
  background: white;
}
/* line 31, ../sass/_login-form.scss */
.form-container form.help-block {
  background-color: rgba(224, 224, 224, 0.15);
  line-height: 45px;
}
/* line 34, ../sass/_login-form.scss */
.form-container form.help-block:hover {
  background-color: rgba(224, 224, 224, 0.17);
}
/* line 37, ../sass/_login-form.scss */
.form-container form.help-block a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}
/* line 45, ../sass/_login-form.scss */
.form-container header {
  padding: 10px;
}
/* line 47, ../sass/_login-form.scss */
.form-container header small {
  opacity: 0.9;
}

/* line 54, ../sass/_login-form.scss */
p.facebook {
  padding: 13px 13px 0px;
  margin-bottom: -3px;
}
/* line 58, ../sass/_login-form.scss */
p.facebook b {
  vertical-align: bottom;
  margin-left: 2px;
}

/* line 1, ../sass/_apytanka.scss */
.apytanka-body {
  border: 1px solid #E0E0E0;
  background: rgba(255, 255, 255, 0.4);
  overflow: hidden;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 6, ../sass/_apytanka.scss */
.apytanka-body:hover {
  background: #e2eef4;
}
/* line 15, ../sass/_apytanka.scss */
.apytanka-body .logo-block {
  padding: 3px;
  border-right: 1px solid #E0E0E0;
}
/* line 18, ../sass/_apytanka.scss */
.apytanka-body .logo-block a {
  text-decoration: none;
  border-bottom: 1px dashed;
}
/* line 24, ../sass/_apytanka.scss */
.apytanka-body .results {
  display: table;
  height: 100%;
  padding: 0;
}
/* line 29, ../sass/_apytanka.scss */
.apytanka-body .results > div:first-of-type {
  border-right: 1px solid #E0E0E0;
}
/* line 33, ../sass/_apytanka.scss */
.apytanka-body .results div {
  padding: 0;
}
/* line 37, ../sass/_apytanka.scss */
.apytanka-body .results hr {
  margin-top: 12px;
  margin-bottom: 10px;
}
/* line 42, ../sass/_apytanka.scss */
.apytanka-body .results a {
  text-decoration: none;
  border-bottom: 0;
}
/* line 45, ../sass/_apytanka.scss */
.apytanka-body .results a:hover {
  color: #FA6F4F;
}
/* line 52, ../sass/_apytanka.scss */
.apytanka-body + .apytanka-body {
  margin-top: -1px;
}

/* line 1, ../sass/_apytanka-list.scss */
#main .apytanka-page {
  position: relative;
}
/* line 4, ../sass/_apytanka-list.scss */
#main .apytanka-page:before {
  height: 550px;
  background-color: rgba(138, 155, 163, 0.6);
  z-index: -1;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 16, ../sass/_apytanka-list.scss */
#main .apytanka-page:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/mapamundi.jpg");
  width: 100%;
  opacity: 0.8;
  z-index: -2;
  height: 550px;
}

/* line 1, ../sass/_profile.scss */
.user-info-body {
  position: relative;
  padding: 0;
  height: 550px;
  overflow: hidden;
}
/* line 7, ../sass/_profile.scss */
.user-info-body .user-info {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 4% 14%;
  color: white;
}
/* line 15, ../sass/_profile.scss */
.user-info-body .user-info h1 {
  color: white;
}
/* line 19, ../sass/_profile.scss */
.user-info-body .user-info:after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  background: #480f02;
  top: 0;
  left: 0;
  height: 550px;
  width: 100%;
  opacity: 0.9;
}
/* line 32, ../sass/_profile.scss */
.user-info-body .user-info .img-circle.user-photo {
  border: 7px solid rgba(250, 111, 79, 0.57);
  width: 150px;
  height: 150px;
  display: block;
}
/* line 39, ../sass/_profile.scss */
.user-info-body .user-info .tab-pane-c {
  height: 90px;
}
/* line 42, ../sass/_profile.scss */
.user-info-body .user-info a {
  color: white;
  font-size: 2em;
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 65px;
}
/* line 50, ../sass/_profile.scss */
.user-info-body .user-info a + a {
  margin-left: 2%;
}
/* line 53, ../sass/_profile.scss */
.user-info-body .user-info a:hover {
  background: rgba(250, 111, 79, 0.57);
}
/* line 59, ../sass/_profile.scss */
.user-info-body .background-image {
  width: 100%;
  z-index: -2;
  opacity: 0.15;
}

/* line 1, ../sass/_apytanka-discussion.scss */
form.add-comment {
  background: white;
  padding: 20px;
}

/* line 8, ../sass/_apytanka-discussion.scss */
.apytanka-comment .comment-body h4 {
  padding-left: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 10, ../sass/_apytanka-discussion.scss */
.apytanka-comment .comment-body h4:hover {
  padding-left: 15px;
  font-weight: bold;
}

/* line 1, ../sass/_add-apytanka.scss */
.hint {
  padding: 0px 15px 15px 33px;
  opacity: 0.9;
  font-size: 12px;
}
/* line 6, ../sass/_add-apytanka.scss */
.hint li {
  margin-bottom: 5px;
}

/* line 37, ../sass/screen.scss */
.big-btn, #header .top-nav [data-toggle="dropdown"], .winner-block .btn {
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px 20px;
}

/* line 43, ../sass/screen.scss */
.btn-orange, #header .top-nav [data-toggle="dropdown"] {
  background-color: #fb8368;
  background-image: -webkit-linear-gradient(top, #fb8368 20%, #FA6F4F 100%);
  background-image: -o-linear-gradient(top, #fb8368 20%, #FA6F4F 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fb8368), to(#FA6F4F));
  background-image: linear-gradient(to bottom, #fb8368 20%, #fa6f4f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=''+($color1), endColorstr=''+($color2), GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #fa6340;
  color: #fefcf9;
}
/* line 47, ../sass/screen.scss */
.btn-orange:hover, #header .top-nav [data-toggle="dropdown"]:hover {
  color: #fefcf9;
}

/* line 52, ../sass/screen.scss */
body {
  background: rgba(250, 162, 125, 0.05);
  font-family: sans-serif;
  font-weight: lighter;
  letter-spacing: 0.5px;
}

/* line 59, ../sass/screen.scss */
a {
  color: #4f95bb;
  cursor: pointer;
}
/* line 61, ../sass/screen.scss */
a:hover, .facebook a {
  color: #3664a2;
}

/* line 67, ../sass/screen.scss */
p {
  min-height: 20px;
}

/* line 71, ../sass/screen.scss */
hr {
  border-color: #E0E0E0;
}

/* line 75, ../sass/screen.scss */
label, .c-label {
  color: #b2b2b2;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 0 5px;
  word-break: break-word;
}
/* line 85, ../sass/screen.scss */
td label, td .c-label {
  padding: 5px 10px;
}

/* line 90, ../sass/screen.scss */
textarea {
  max-width: 100%;
  min-height: 135px;
}

/* line 95, ../sass/screen.scss */
#header {
  padding: 2% 0;
  font-size: 15px;
}
/* line 99, ../sass/screen.scss */
#header #logo .logo {
  font-size: 30px;
  font-family: fantasy;
  color: #FA6F4F;
}
/* line 105, ../sass/screen.scss */
#header .sublogo {
  padding: 0;
}
/* line 107, ../sass/screen.scss */
#header .sublogo small {
  color: #FA6F4F;
  opacity: 0.9;
  font-size: 20px;
  font-family: monospace;
  vertical-align: -10px;
}
/* line 116, ../sass/screen.scss */
#header .top-nav {
  line-height: 45px;
  margin-bottom: 20px;
}
/* line 120, ../sass/screen.scss */
#header .top-nav [data-toggle="dropdown"] {
  border-color: #fa6340;
  color: #fefcf9;
}
/* line 131, ../sass/screen.scss */
#header .top-nav .dropdown-menu {
  min-width: 100%;
}
/* line 133, ../sass/screen.scss */
#header .top-nav .dropdown-menu a {
  color: #545151;
}
/* line 136, ../sass/screen.scss */
#header .top-nav .dropdown-menu .glyphicon {
  margin-left: -5px;
  margin-right: 5px;
}

/* line 146, ../sass/screen.scss */
.orange {
  color: #FA6F4F;
}

/* line 150, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  color: #5E5C5C;
}
/* line 152, ../sass/screen.scss */
#header h1, h1.orange, #header h2, h2.orange, #header h3, h3.orange, #header h4, h4.orange, #header h5, h5.orange, #header h6, h6.orange {
  color: #FA6F4F;
}
/* line 155, ../sass/screen.scss */
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: white;
}

/* line 160, ../sass/screen.scss */
b.dot {
  color: inherit;
  vertical-align: 3px;
}

/* line 165, ../sass/screen.scss */
.form-group.c-input {
  margin-bottom: 0px;
  border: 1px solid #E0E0E0;
  padding: 0;
}
/* line 170, ../sass/screen.scss */
.form-group.c-input .form-control {
  border: 0;
  padding: 15px 12px;
  border-color: #E0E0E0;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 50px;
  width: 100%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-appearance: fadeIn;
}
/* line 178, ../sass/screen.scss */
.form-group.c-input .form-control:focus {
  background-color: #e2eef4;
}
/* line 186, ../sass/screen.scss */
.form-group.c-input .radio {
  margin: 10px;
}

/* line 191, ../sass/screen.scss */
.form-inline.c-inline {
  margin-left: -1px;
}
/* line 193, ../sass/screen.scss */
.form-inline.c-inline .form-group.c-input:nth-of-type(n+2) {
  margin-left: -1px;
}
/* line 196, ../sass/screen.scss */
.form-inline.c-inline .form-group.c-input:first-of-type {
  margin-left: 1px;
}
/* line 199, ../sass/screen.scss */
+ .form-inline.c-inline {
  margin-top: -1px;
}

/* line 204, ../sass/screen.scss */
.form-group.c-input, .form-inline + .form-inline .form-group.c-input {
  margin-top: -1px;
}

/* line 209, ../sass/screen.scss */
.container-fluid {
  padding: 0;
}

/* line 213, ../sass/screen.scss */
.btn, .btn:hover, .btn:focus, .btn:active {
  outline-color: transparent;
}

/* line 217, ../sass/screen.scss */
.btn-lg {
  font-size: 17px;
}

/* line 221, ../sass/screen.scss */
.login {
  text-shadow: -0.5px -0.5px #322E2E;
  letter-spacing: 2px;
  font-family: sans-serif;
}
/* line 225, ../sass/screen.scss */
.login:hover, .login:focus {
  text-decoration: none;
}
/* line 228, ../sass/screen.scss */
.login img {
  vertical-align: top;
  height: 100%;
}

/* line 236, ../sass/screen.scss */
.winner-block .btn {
  background-color: rgba(254, 254, 254, 0.9145);
  background-image: -webkit-linear-gradient(top, rgba(254, 254, 254, 0.9145) 20%, rgba(255, 255, 255, 0.05) 100%);
  background-image: -o-linear-gradient(top, rgba(254, 254, 254, 0.9145) 20%, rgba(255, 255, 255, 0.05) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 254, 254, 0.9145)), to(rgba(255, 255, 255, 0.05)));
  background-image: linear-gradient(to bottom, rgba(254, 254, 254, 0.9145) 20%, rgba(255, 255, 255, 0.05) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=''+($color1), endColorstr=''+($color2), GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  color: #545151;
}
/* line 242, ../sass/screen.scss */
.winner-block .btn .glyphicon-star {
  color: #f2cb60;
}
/* line 245, ../sass/screen.scss */
.winner-block .btn .glyphicon-gift {
  color: #e76262;
}
/* line 249, ../sass/screen.scss */
.winner-block .btn:hover {
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, transparent 20%, transparent 100%);
  background-image: -o-linear-gradient(top, transparent 20%, transparent 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=''+($color1), endColorstr=''+($color2), GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
}

/* line 260, ../sass/screen.scss */
#main .page-content section:nth-of-type(n+2) {
  padding: 50px 70px;
}
/* line 263, ../sass/screen.scss */
#main .page-content section#first {
  min-height: 550px;
}
/* line 267, ../sass/screen.scss */
#main .page-content section#first blockquote {
  padding: 8% 5%;
  font-size: 40px;
  border: 0;
}
/* line 272, ../sass/screen.scss */
#main .page-content section#first blockquote span {
  color: #DFE3E4;
  background-color: rgba(1, 1, 1, 0.7);
  padding: 0px 30px;
}
/* line 275, ../sass/screen.scss */
#main .page-content section#first blockquote span:nth-of-type(even) {
  color: #8A9BA3;
}
/* line 283, ../sass/screen.scss */
#main .page-content section:nth-of-type(2) {
  background-color: #FFFFFF;
}
/* line 285, ../sass/screen.scss */
#main .page-content section:nth-of-type(2) .btn {
  border-color: #FA6F4F;
}
/* line 287, ../sass/screen.scss */
#main .page-content section:nth-of-type(2) .btn:hover {
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, transparent 20%, transparent 100%);
  background-image: -o-linear-gradient(top, transparent 20%, transparent 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=''+($color1), endColorstr=''+($color2), GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
}
/* line 292, ../sass/screen.scss */
#main .page-content section:nth-of-type(3) {
  background-color: #F3F3F3;
}
/* line 294, ../sass/screen.scss */
#main .page-content section:nth-of-type(3) h2 {
  color: #46C595;
}
/* line 297, ../sass/screen.scss */
#main .page-content section:nth-of-type(3) .btn {
  border-color: #46C595;
}
/* line 299, ../sass/screen.scss */
#main .page-content section:nth-of-type(3) .btn:hover {
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, transparent 20%, transparent 100%);
  background-image: -o-linear-gradient(top, transparent 20%, transparent 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=''+($color1), endColorstr=''+($color2), GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
}
/* line 304, ../sass/screen.scss */
#main .page-content section:last-of-type {
  background-color: #E1E3E5;
}
/* line 306, ../sass/screen.scss */
#main .page-content section:last-of-type h2 {
  color: #2E416C;
}
/* line 309, ../sass/screen.scss */
#main .page-content section:last-of-type .btn {
  border-color: #2E416C;
}
/* line 311, ../sass/screen.scss */
#main .page-content section:last-of-type .btn:hover {
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, transparent 20%, transparent 100%);
  background-image: -o-linear-gradient(top, transparent 20%, transparent 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=''+($color1), endColorstr=''+($color2), GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
}
/* line 318, ../sass/screen.scss */
#main .homepage {
  background: url("../images/questions-wallpaper-2560x1600.jpg") no-repeat;
}
/* line 322, ../sass/screen.scss */
#main .container {
  padding: 0px;
  border-radius: 6px;
  background-color: rgba(254, 254, 254, 0.5);
  box-shadow: 0px 2px 1px 1px rgba(1, 1, 1, 0.25);
  overflow: hidden;
  min-height: 500px;
}

/* line 335, ../sass/screen.scss */
footer {
  background-color: #FA6F4F;
  position: relative;
  top: -50px;
  z-index: -1;
  margin-bottom: -50px;
  color: white;
}
/* line 342, ../sass/screen.scss */
footer h2 {
  margin: 16% 0 10% 0;
  font-family: sans-serif;
}

/* line 348, ../sass/screen.scss */
.space-block-t {
  margin-top: 40px;
}

/* line 352, ../sass/screen.scss */
.space-block-b {
  margin-bottom: 40px;
}

/* line 356, ../sass/screen.scss */
.space-block-b, .space-block-t {
  min-height: 1px;
  display: block;
}

/* line 361, ../sass/screen.scss */
.user-photo {
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  vertical-align: middle;
}

/* line 368, ../sass/screen.scss */
.form-control.ng-dirty.ng-invalid {
  border: 1px solid red;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-appearance: fadeIn;
}
/* line 371, ../sass/screen.scss */
.form-control.ng-dirty.ng-invalid:focus {
  box-shadow: 0px 0px 3px -1px rgba(255, 0, 0, 0.8);
  outline-color: rgba(250, 37, 37, 0);
}
